.fourth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  background-color: #f1f1f1;
}
.fourth img {
  max-width: 1000px;
  max-height: 600px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text_container4 {
  position: absolute;
  top: 49%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 410px;
  border-radius: 10px;
}

.text_container4 p {
  margin: 0;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 2px;
}
.text_container4 h3 {
  margin: 0;
  color: #000;
  font-size: 23px;
  font-weight: 600;
  text-align: justify;
}
.text_container4 ul li {
  /* list-style-type: none; */
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  line-height: 1.5;
}

.text_container4 ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  .fourth {
    flex-direction: column-reverse;
  }
  .text_container4 {
    position: relative;
    transform: none;
    width: auto;
    height: auto;
    left: auto;
    margin-bottom: 20px;
  }
}
