/* First section */
.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 15px;
}

.text_container {
  background-color: white;
  padding: 5px 25px;
  position: absolute;
  margin-top: 100px; /* Adjust this value to move the text up or down */
  z-index: 1;
  height: 212px;
  width: 530px;
  margin-left: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.text_container h3 {
  font-size: 23px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  padding: 2px;
}
.text_container p {
  /* font-size: 14px; */
  font-weight: 400;
  color: #0a0a0a;
  text-align: justify;
}
.image {
  margin-left: 450px;
  width: 100%;
  max-width: 700px; /* Adjust the desired width */
  max-height: 350px;
  height: auto;
}
